* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  text-align: center;
  font-weight: 600;
  font-size: 16px;color: #666666;
  padding: 30px 0;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-20%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(20%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.4s, transform 0.4s;
}
